<!-- PARTIAL: header -->
<title>{{title}}</title>
{{#minify}}
<link href="{{relativeRootPath}}/styles/main.min.css" rel="stylesheet">
{{/minify}}
{{^minify}}
<link href="{{relativeRootPath}}/styles/main.css" rel="stylesheet">
{{/minify}}
<!-- END PARTIAL -->

<!-- PARTIAL: body -->
<h1>Error</h1>
<!-- END PARTIAL -->

<!-- PARTIAL: footer -->
<!-- END PARTIAL -->
