<!-- PARTIAL: header -->
<title>{{title}}</title>
{{#minify}}
<link href="{{relativeRootPath}}/styles/main.min.css" rel="stylesheet">
{{/minify}}
{{^minify}}
<link href="{{relativeRootPath}}/styles/main.css" rel="stylesheet">
{{/minify}}
<!-- END PARTIAL -->

<!-- PARTIAL: body -->
<h1>Core Next Samples</h1>

<ul>
	<li><a href="checkout.html">checkout</a></li>
	<li><a href="contact.html">contact</a></li>
	<li><a href="enrollment.html">eventregistration</a></li>
	<li><a href="eventregistration.html">eventregistration</a></li>
	<li><a href="feedback.html">feedback</a></li>
	<li><a href="hotelbooking.html">hotelbooking</a></li>
	<li><a href="jobapplication.html">jobapplication</a></li>
	<li><a href="order.html">order</a></li>
</ul>

<!-- END PARTIAL -->

<!-- PARTIAL: footer -->
<!-- END PARTIAL -->
